$color_1: #7f8c8d;
$color_2: #34495e;
$color_3: #ffffff;
$color_4: #1f8dd6;
$color_5: #6FBEF3;
$color_6: #AECFE5;
$color_7: #aaa;
$background_color_1: #1f8dd6;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    line-height: 1.7em;
    color: $color_1;
    font-size: 13px;
    font-family: 'Abel', sans-serif;
}

h1 {
    color: $color_2;
    font-family: 'Gayathri', sans-serif;
}

h2 {
    color: $color_2;
    font-family: 'Gayathri', sans-serif;
}

h3 {
    color: $color_2;
    font-family: 'Gayathri', sans-serif;
}

h4 {
    color: $color_2;
    font-family: 'Gayathri', sans-serif;
}

h5 {
    color: $color_2;
    font-family: 'Gayathri', sans-serif;
}

h6 {
    color: $color_2;
    font-family: 'Gayathri', sans-serif;
}

label {
    color: $color_2;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.pure-form {
    label {
        margin: 1em 0 0;
        font-weight: bold;
        font-size: 100%;
    }

    input[type] {
        border: 2px solid #ddd;
        box-shadow: none;
        font-size: 100%;
        width: 100%;
        margin-bottom: 1em;
    }
}

.pure-button {
    background-color: $background_color_1;
    color: $color_3;
    padding: 0.5em 2em;
    border-radius: 5px;
}

a.pure-button-primary {
    background: white;
    color: $color_4;
    border-radius: 5px;
    font-size: 120%;
}

.home-menu {
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;

    .pure-menu-heading {
        color: $color_3;
        font-weight: 400;
        font-size: 120%;
    }

    .pure-menu-selected {
        a {
            color: $color_3;
        }
    }

    a {
        color: $color_5;
    }

    li {
        a {
            &:hover {
                background: none;
                border: none;
                color: $color_6;
            }

            &:focus {
                background: none;
                border: none;
                color: $color_6;
            }
        }
    }
}

.pure-menu.pure-menu-fixed {
    border-bottom: none;
    z-index: 4;
}

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

.splash-head {
    font-size: 20px;
    font-weight: bold;
    color: $color_3;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: $color_3;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.content-wrapper {
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.content {
    padding: 1em 1em 3em;

    a {
        color: $color_4;

        &:visited, &:link {
            text-decoration: underline;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-head-ribbon {
    color: $color_3;
}

.content-subhead {
    color: $color_4;

    i {
        margin-right: 7px;
    }
}

.ribbon {
    background: #2d3e50;
    color: $color_7;
}

.footer {
    background: #111;
    position: fixed;
    bottom: 0;
    width: 100%;

    a {
        color: $color_3;
        &:visited, &:link {
            text-decoration: underline;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

@media (min-width: 48em) {
    body {
        font-size: 16px;
    }

    .home-menu {
        text-align: left;

        ul {
            float: right;
        }
    }

    .splash {
        width: 50%;
        height: 50%;
    }

    .splash-head {
        font-size: 250%;
    }

    .l-box-lrg {
        border: none;
    }
}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}

.center-content {
    justify-content: center;
}